##############################
# Vivado
##############################

*.jou
*.log
*.str
*.pb
*.wdb
*.cache
*.hw
*.sim
*.bit
*.bin
*.ltx

.Xil/
.gen/
.runs/
.srcs/
.ip_user_files/

##############################
# OpenLane
##############################

runs/
pdks/
logs/

##############################
# Python
##############################

__pycache__/
*.pyc
.venv/

##############################
# Linux
##############################

*~
.DS_Store

##############################
# Reports
##############################

results/*
!results/.gitkeep

reports/*
!reports/.gitkeep
EOF